
#menu {
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    cursor: pointer;
}

#menu.fa-times {
    transform: rotate(-180deg);
}

.navbar2 {
    position: fixed;
    top: 2.4rem;
    right: 2.5rem;
    padding: 1.1rem 2rem;
    padding-right: 4rem;
    z-index: 999;
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    background: var(--primary-bg-color);
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
}

.navbar2.nav-toggle {
    opacity: 1;
    transform: scale(1);
}

.navbar2 a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    padding-right: 7rem;
    color: var(--primary-text-color);
}

.navbar2 a:hover {
    color: var(--main-color);
    transform: translateX(1rem);
}

.home2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home2 .image2 {
    flex: 1 1 40rem;
    padding: 1rem;
    text-align: center;
}

.home2 .image2 img {
    height: 50rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-top: 3rem solid var(--primary-bg-color);
    border-right: 3rem solid var(--primary-bg-color);
    border-bottom: 3rem solid var(--main-color);
    border-left: 3rem solid var(--main-color);
    border-radius: .5rem;
}

.home2 .image2 video {
    height: 50rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-top: 3rem solid var(--primary-bg-color);
    border-right: 3rem solid var(--primary-bg-color);
    border-bottom: 3rem solid var(--main-color);
    border-left: 3rem solid var(--main-color);
    border-radius: .5rem;
}

.home2 .content2 {
    flex: 1 1 40rem;
    padding: 1rem;
}

.home2 .content2 .hello2 {
    display: inline-block;
    padding: 1rem 0;
    font-size: 2.6rem;
    color: var(--secondary-text-color);
}

.home2 .content2 h3 {
    color: var(--primary-text-color);
    font-size: 5rem;
}

.home2 .content2 h3 span {
    color: var(--main-color);
}

.home2 .content2 p {
    padding: 1rem 0;
    color: var(--secondary-text-color);
    font-size: 2rem;
}



.heading2 {
    font-size: 5rem;
    color: var(--primary-text-color);
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

.heading2 span {
    color: var(--main-color);
    text-transform: uppercase;
}


















.about2 .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about2 .row2 .box2 {
    flex: 1 1 40rem;
    background-color: var(--primary-bg-color);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: .5rem 1.5rem;
    margin: 1.5rem;
}

.about2 .row2 .box2 .title2 {
    color: var(--primary-text-color);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.about2 .row2 .box2 .progress2 {
    padding: 1rem 0;
}

.about2 .row2 .box2 .progress2 h3 {
    font-size: 1.7rem;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-between;
}

.about2 .row2 .box2 .progress2 .bar2 {
    height: 2.5rem;
    border-radius: .5rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.about2 .row2 .box2 .progress2 .bar2 span {
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
    display: block;
}
/* 
.about2 .row2 .box2:nth-child(1) .progress2:nth-child(2) .bar2 span {
    width: 95%;
} */

/* .about2 .row2 .box2:nth-child(1) .progress2:nth-child(3) .bar2 span {
    width: 80%;
}

.about2 .row2 .box2:nth-child(1) .progress2:nth-child(4) .bar2 span {
    width: 65%;
}

.about2 .row2 .box2:nth-child(1) .progress2:nth-child(5) .bar2 span {
    width: 75%;
}

.about2 .row2 .box2:nth-child(2) .progress2:nth-child(2) .bar2 span {
    width: 98%;
} */
/* 
.about2 .row2 .box2:nth-child(2) .progress2:nth-child(3) .bar2 span {
    width: 67%;
}

.about2 .row2 .box2:nth-child(2) .progress2:nth-child(4) .bar2 span {
    width: 75%;
}

.about2 .row2 .box2:nth-child(2) .progress2:nth-child(5) .bar2 span {
    width: 60%;
} */

.about2 .row2 .box2 .exp-box2 {
    padding: 0 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-left: .2rem solid var(--main-color);
    position: relative;
}

.about2 .row2 .box2 .exp-box2 h3 {
    color: var(--main-color);
    font-size: 2rem;
}

.about2 .row2 .box2 .exp-box2 p {
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.about2 .row2 .box2 .exp-box2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background: var(--main-color);
}

.about2 .download2 {
    background: var(--primary-bg-color);
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem;
    padding-bottom: 3rem;
    margin: 1rem;
}

























.services2 .box-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services2 .box-container2 .box2 {
    background: var(--primary-bg-color);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1rem;
    padding: 1rem;
    width: 35rem;
    text-align: center;
    position: relative;
    z-index: 0;
}

.services2 .box-container2 .box2 .number2 {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 2.5rem;
    color: var(--primary-text-color);
}

.services2 .box-container2 .box2 img {
    height: 7rem;
    width: 7rem;
    margin: 1rem;
}

.services2 .box-container2 .box2 h3 {
    font-size: 2rem;
    color: var(--main-color);
}

.services2 .box-container2 .box2 p {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    padding: 1rem;
}

.services2 .box-container2 .box2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    z-index: -1;
    clip-path: circle(25% at 0 0);
    opacity: .1;
    transition: .3s;
}

.services2 .box-container2 .box2:hover::before {
    clip-path: circle(100%);
}


















.portfolio2 .button-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.portfolio2 .button-container2 .btn2 {
    margin: 1rem;
    cursor: pointer;
}

.portfolio2 .image-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.portfolio2 .image-container2 .box2 {
    width: 35rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    height: 25rem;
    position: relative;
    border: 1.5rem solid var(--primary-bg-color);
    cursor: pointer;
}

.portfolio2 .image-container2 .box2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio2 .image-container2 .box2 .info2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: .9;
    transform: scale(0);
}

.portfolio2 .image-container2 .box2:hover .info2 {
    transform: scale(1);
}

.portfolio2 .image-container2 .box2 .info2 h3 {
    font-size: 2.5rem;
    color: var(--primary-text-color);
}






.blog2 .box-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog2 .box-container2 .box2 {
    width: 33rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    background: var(--primary-bg-color);
    overflow: hidden;
}

.blog2 .box-container2 .box2 img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.blog2 .box-container2 .box2 .content2 {
    padding: 1.5rem;
}

.blog2 .box-container2 .box2 .content2 .info2 {
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    color: var(--primary-text-color);
    background: var(--secondary-bg-color);
    padding: 1rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.blog2 .box-container2 .box2 .content2 .info2 i {
    color: var(--main-color);
    padding: 0 1rem;
}

.blog2 .box-container2 .box2 .content2 .title2 {
    color: var(--primary-text-color);
    display: block;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.blog2 .box-container2 .box2 .content2 .title2:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.blog2 .box-container2 .box2 .content2 p {
    color: var(--secondary-text-color);
    padding: .5rem 0;
    font-size: 1.5rem;
}

















#theme-toggler {
    position: fixed;
    top: 8.5rem;
    right: 2rem;
    z-index: 998;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 5rem;
}

#theme-toggler.fa-sun {
    transform: rotate(-180deg);
}


/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 1rem;
        padding: 0 3%;
    }
}

@media (max-width:768px) {
    .home2 .image2 img {
        height: auto;
        width: 100%;
    }
}

@media (max-width:400px) {
    
    .portfolio .image-container .box {
        width: 100%;
    }
    
}
